* {
    --prism-component-text-color: #488aef;
}

*::-webkit-scrollbar {
    width: 5px;
}


.prism-component-text-color {
    color: var(--prism-component-text-color)
}

.prism-component-text-color > * {
    color: inherit
}

